@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (prefers-reduced-motion: no-preference) {
    .fade {
      transition: all 200ms ease-in-out;
    }
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/font/Inter.woff2') format('woff2-variations');
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: hsl(215, 96%, 33%);
  --primary-focus: hsl(215, 96%, 38%);

  --accent: hsl(156, 100%, 78%);
  --accent-focus: hsl(156, 100%, 82%);

  --success: #00bf7d;
  --success-focus: #00f09c;

  --warning: hsl(27, 100%, 50%);
  --warning-focus: hsl(27, 100%, 55%);

  --error: hsl(0, 99%, 30%);
  --error-focus: hsl(0, 99%, 35%);

  --neutral-1: hsl(0, 0%, 97%);
  --neutral-2: hsl(0, 0%, 92%);
  --neutral-3: hsl(0, 0%, 87%);
  --neutral-4: hsl(0, 0%, 82%);
  --neutral-5: hsl(0, 0%, 77%);
  --neutral-6: hsl(0, 0%, 72%);
  --neutral-7: hsl(0, 0%, 67%);

  --neutral-content: hsl(0, 0%, 0%);
  --neutral-content-muted: hsl(0, 0%, 45%);

  --overlay-black: rgba(255, 255, 255, 0.4);

  --tooltip: hsl(220, 5%, 34%);
  --tooltip-content: #fff;
}

.dark {
  --neutral-1: hsl(220, 6%, 9%);
  --neutral-2: hsl(220, 6%, 14%);
  --neutral-3: hsl(220, 6%, 19%);
  --neutral-4: hsl(220, 6%, 24%);
  --neutral-5: hsl(220, 6%, 29%);
  --neutral-6: hsl(220, 6%, 34%);

  --neutral-content: hsl(0, 0%, 90%);

  --overlay-black: rgba(0, 0, 0, 0.4);

  --tooltip: hsl(220, 7%, 66%);
  --tooltip-content: #000;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  @apply container mx-auto min-h-[500px] min-w-[800px] px-4 py-2 text-neutral-content bg-neutral-1 scroll-smooth;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  @apply w-full h-full flex flex-col;
}

h1 {
  @apply text-xl font-bold;
}

p,
span,
div {
  @apply text-base;
}

.tab-container {
  @apply py-1.5 px-2 rounded-md flex items-center;
}

.session-container {
  @apply w-full p-2 flex flex-col mb-2 gap-2 rounded-md bg-neutral-2 cursor-pointer;
}

.tab-container:hover,
.session-container:hover {
  @apply bg-neutral-3;
}

.session-info {
  @apply flex items-center w-full gap-2;
}

.session-name {
  @apply flex-1 max-w-max pl-1 overflow-hidden whitespace-nowrap text-ellipsis font-bold text-sm;
}

.session-name {
  @apply cursor-pointer;
}

.session-name:hover {
  @apply underline;
}

.card {
  @apply inline-flex items-center w-max font-medium gap-1 rounded py-0.5 px-1 mr-1 text-xs select-none;
}

.session-card {
  @apply flex items-center gap-1 font-medium text-xs py-0.5 px-1 rounded;
}

.session-card:hover {
  @apply bg-overlay-black;
}

mark {
  @apply bg-primary text-white rounded-md p-0.5 my-auto mx-[1px];
}

::-webkit-scrollbar {
  @apply w-1 bg-neutral-2 rounded-md;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-neutral-4;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-5;
}
